div{
    color: #c2dcd4;
    color: #e9d597;
    color: #dbaa7a;
    color: #599493;

    color: #ec7768;

    color: #b0ca91;

    color: #4f7776;

    color: #c55473;

    color: #a17455;
    
    color: #528a92;
    color: #873738;
}